
.slider {
  position: sticky ;
   overflow: hidden; 

  border-bottom-left-radius: 85px;
  border-bottom-right-radius: 85px;
}

.slider .carousel::before,
.slider .carousel::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider .carousel .image-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}


.slider .carousel .carousel-item img {
  object-fit: cover; 
  width: 100%; 
  height: 58vh; 
  display: block;
}


 */
 



.slider .carousel .carousel-caption {
  z-index: 99;
  bottom: 20%;
  text-align: center;
}

.slider .carousel .carousel-caption h5 {
  font-size: 35px;
  color: var(--white);
  line-height: 140%;
  font-weight: 1000;
  letter-spacing: 1.5px;
  padding-bottom: 100px;
}

.slider .carousel .carousel-control-prev,
.slider .carousel .carousel-control-next {
  z-index: 100;
  position: absolute;
  top: 45%;
  width: 55px;
  height: 55px;
  display: block;
  border-radius: 100%;
  transition: box-shadow 0.3ms;
}


.slider .carousel .carousel-control-prev::after,
.slider .carousel .carousel-control-next::after,
.slider .carousel .carousel-control-prev::before,
.slider .carousel .carousel-control-next::before {
  content: "";
  position: absolute;
  left: 43%;
  background: var(--white);
  width: 0.4rem;
  min-width: 3px;
  border-radius: 3px;
  height: 34%;
}

.slider .carousel .carousel-control-prev {
  left: 40px;
}

.slider .carousel .carousel-control-prev::before {
  transform: rotate(45deg);
  top: 24%;
}

.slider .carousel .carousel-control-prev::after {
  transform: rotate(-45deg);
  bottom: 24%;
}

.slider .carousel .carousel-control-next {
  right: 40px;
}

.slider .carousel .carousel-control-next::before {
  left: auto;
  right: 43%;
  transform: rotate(-45deg);
  top: 24%;
}

.slider .carousel .carousel-control-next::after {
  left: auto;
  right: 43%;
  transform: rotate(45deg);
  bottom: 24%;
}

.slider .carousel .carousel-control-prev span,
.slider .carousel .carousel-control-next span {
  display: none;
}

/* Responsive Adjustments */
@media only screen and (max-width: 991px) {
  .slider .carousel .carousel-caption {
    bottom: 18%;
  }

  .slider .carousel .carousel-caption h5 {
    font-size: 20px;
    padding-bottom: 170px;
  }
  
  .slider .carousel .carousel-caption .slider_des p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .slider .carousel .carousel-item img {
    object-fit: contain;
  }

  .slider .carousel .carousel-caption {
    bottom: 22%;
    padding: 0 0 20px 0;
    z-index: 9;
  }

  .slider .carousel .carousel-caption h5 {
    font-size: 15px;
    padding-bottom: 100px;
  }

  .slider .carousel .carousel-caption h5 span {
    display: inline-block;
  }

  .slider .carousel .carousel-caption .slider_des p {
    font-size: 14px;
  }

  .slider .carousel .carousel-control-next,
  .slider .carousel .carousel-control-prev {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 420px) {
  .slider .carousel .carousel-caption {
    right: 3%;
    left: 3%;
    bottom: 16%;
    padding: 0 0 20px 0;
    z-index: 9;
  }

  .slider .carousel .carousel-control-next,
  .slider .carousel .carousel-control-prev {
    width: 30px;
    height: 30px;
  }
}
