.top-treks-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .trek-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .trek-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .trek-card-image {
    height: 70%;
    object-fit: cover;
  }
  
  .trek-card-body {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .trek-card-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--primaryClr, #333);
  }
  